body {
    /* typography */
    font-family: lato, sans-serif;
    font-weight: 700;
    // font-size: 1rem;
    line-height: 1.7;
    color: #777;
}
.heading-primary {
    /* text */
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: large;
    margin-bottom: 20px;
}
.heading-secondary {
    /* text */
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-shadow: rgba(0, 0, 0, 0.719);
}
.text-black {
    letter-spacing: 2px;
    color: black;
}
.text-white {
    letter-spacing: 2px;
    color: white;
}