section.about {
    background-color: rgb(211, 211, 211);
    padding: 40px;
    min-height: 70vh;
    & p {
        margin: 30px 0px;
    }
    @include respond(desktop) {
        & .instagram-post {
            max-width: 30% !important;
        }
        & .about-us {
            width: 70%;
        }
    }
}
.instagram-media {
    min-width: 100% !important;
    width: 100% !important;
}
section.contact {
    background-color: $color-primary-dark;
    padding: 40px;
    & p {
        color: white;
    }
}